[Desktop Entry]
Type=Application
Name=igraph-vlk
Exec=igraph-vlk
Icon=igraph-vlk
Categories=Science;Education;
Comment=Vulkan-based 3D graph visualization
